*{
    margin: 0;
    padding: 0;
}
/* Aligning left 5 photos */
.product-small-img img{
    height: 92px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    opacity: 0.7;
    border: 1px solid rgb(219, 216, 216);
}
.product-small-img img:hover{
    opacity: 1;
}

/* Aligining right photo */
.image img{
    height: 410px;
}

/* Taking all to the centre */
.product {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  
}



